#centerContent #eventContainer{
	padding:20px 20px 20px 20px;
	border: solid thin #e3e1e1;
	margin:20px 20px 20px 20px;
	}

#centerContent #eventContainer .event .forFocus {

	padding:10px 5px 5px 5px;

}
#centerContent #eventContainer .event .forFocus label{
	font-weight: bold;
	cursor: pointer;
	
	}
	
#centerContent #eventContainer .event{
	padding-bottom:20px;
	border-top:solid thick grey ;
	}
#centerContent #eventContainer .event .hidingContent{
	display:none;
	overflow:hidden;/*again to make floating elements take space*/
	}
#centerContent #eventContainer .event input[type=checkbox]{
	position:absolute;
	z-index:-1;

}
#centerContent #eventContainer .event input[type=checkbox]:checked ~ .hidingContent{
	display: block;
	}

	
#centerContent #eventContainer .event input[type=checkbox]:focus+.forFocus{
	border-left:solid thin rgb(165,198,237);
	border-right:solid thin rgb(165,198,237);
	border-bottom:solid thin rgb(165,198,237);
	
	padding:10px 5px 4px 4px;


}
#centerContent #eventContainer h3 span{

	font-size: small;
	color:grey;
	font-weight:normal;
	margin-left: 20px;
	
	}
	